/* LowerHeader.css or inline <style> in your component file */

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* src/components/TopHeader/ marquee*/
.marquee-container {
  animation: scroll-right 10s linear infinite; /* Change to scroll-right */
}
@keyframes scroll-right {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  50% {
    transform: translateX(0); /* Center */
  }
  100% {
    transform: translateX(-100%); /* Exit to the left */
  }
}
/* src/components/lowerHeader/ BannerImage*/
/* Base styles for each banner offer */
.offer-style-1,
.offer-style-2,
.offer-style-3 {
  @apply bg-opacity-70 p-4 text-left shadow-lg;
}

/* Unique styles for each banner */
.offer-style-1 {
  @apply bg-transparent text-red-500 border-2 border-red-300  rounded-md;
}

.offer-style-2 {
  @apply bg-transparent text-blue-800 border-2 border-blue-300 rounded-md;
}

.offer-style-3 {
  @apply bg-transparent text-green-800 border-2 border-green-300 rounded-md;
}
